<%= render 'header2' %>
<div id="main">
		<div class="box">

			<%=image_tag 'glostix_web.jpg', :width => "800" ,  :class =>"left" %>
			

<h1>Edit Capture Post</h1>

<%= render 'form' %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blogs_path %>

</div>
</div>