<%= render 'header'%>
<%= render 'sidebar' %>				
<div id="content">
	<div class="box">

		<h2>
			<strong>Capture of the Week </strong> - <% @blogs.each do |blog| %>
				<%= blog.title %>
				<%end%>
		</h2>
		
		<%=image_tag 'hankcock_for_web.jpg', :size => "171x275" ,  :class =>"left" %>


		<% @blogs.each do |blog| %>

<p<%= blog.title %></p>
<p><%= blog.description %></p>
<p><%= link_to 'Link to Full Size Image', blog %></p>
<p><%= link_to 'Edit Image details', edit_blog_path(blog) %></p>
<p><%= link_to 'Delete Image', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>
		<% end %>
		
		</table>
		
	</div>



<br />
	
	</div><br class="clear" />
</div><br class="clear" />
</div>
</div>
<div id="copyright">
&copy; CaptureArt.com 
</div>
</body>
</html>

