<%= render 'header2'%>

<%=image_tag 'hankcock_for_web.jpg', :width => "800" ,  :class =>"left" %>
<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Description:</b>
  <%= @blog.description %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
